{
    "presets": [
        [
            "@babel/env" 
            // {"modules": false}
        ]
    ],
    "plugins": [
        [
            "component",
            {
                "libraryName": "element-ui",
                "styleLibraryName": "theme-chalk"
            }
        ],
        [
            "module-resolver", 
            {
                "root": [ "./src" ],
                "alias": {
                    "$template": "./src/modules/template",
                    "underscore": "./src/modules/gui"
                }
            }
        ]
    ]
}