<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Example</title>

    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.css" rel="stylesheet" />


    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
</head>
<body>

    <div class="container-fluid"  id="app">
        <div class="row">
            <div class="col-md-6">
                <h2>Template</h2>

                <eform-builder ref="template" v-model="templateData" >
                    <template v-slot:toolbar>
                        <el-button @click.native="saveTemplate" type="success" icon="el-icon-s-promotion" >
                            Save Template
                        </el-button>
                    </template>
                </eform-builder>

                <!-- <div class="">
                    <h2>Form values</h2>
                    <pre key="formvalue">{{ templateData }}</pre>
                </div> -->
            </div><!-- End Template -->

            <div class="col-lg-6">
                <h2 style="margin-top: 50px">Preview UI</h2>

                <eform :template-data="templateData" v-model="formValue" :errors.sync="formErrors" ></eform>


                <h2>Form values</h2>
                <pre key="formvalue">{{ formValue }}</pre>

            </div><!-- End Gui -->
        </div>
    </div>



<script type="text/x-template" id="select2-template">
    <select>
        <slot></slot>
    </select>
</script>

<script type="text/x-template" id="select2-structure">
<label-wraped-structure v-bind="$props">
    <select2  class="form-control" />
</label-wraped-structure>
</script>


<script src="../public/vue.js"></script>
<!-- add built file -->
<script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>

<script>
console.log("????")

var select2Component =  {
  props: ['options', 'value'],
  template: '#select2-template',
  mounted: function () {
    var vm = this
    $(this.$el)
      // init select2
      .select2({ data: this.options })
      .val(this.value)
      .trigger('change')
      // emit event on change.
      .on('change', function () {
        vm.$emit('input', this.value)
      })
  },
  watch: {
    value: function (value) {
      // update value
      $(this.$el)
      	.val(value)
      	.trigger('change')
    },
    options: function (options) {
      // update options
      $(this.$el).empty().select2({ data: options })
    }
  },
  destroyed: function () {
    $(this.$el).off().select2('destroy')
  }
};


var select2Structure = {
    components: { 
        LabelWrapedStructure: VueEformUtils.templates.LabelWrapedStructure,
        select2:  select2Component
    }, 
    mixins: [ VueEformUtils.mixins.controlMixin ],
    template: '#select2-structure'
};


Vue.config.devtools = true
Vue.use(VueEform, {
    controls: {
        select2: {
            template: {
                structure: {
                    label: 'Select2',
                    icon: 'el-icon-menu', 
                }, 
                attrs: { 
                    label: { text: 'SELECT2 CONTROL' },
                    values: [], 
                },
                structureComponent: select2Structure,
                // optionComponent: SelectOptions,
            }
        }
    }
});

var vm = new Vue({
    el: "#app",
    data() {
        return {
            templateData: {},
            formValue: {},
            formErrors: {}
        }
    },
    mounted() {
        this.loadTemplate();
    },
    methods: {
        previewTemplate() {
            this.templateData = this.$refs.template.getTemplateData('object');
        },
        saveTemplate() {
            var val = this.$refs.template.getTemplateData('string');
            localStorage.setItem('EFORM_TEMPLATE_NE', val);
        },
        loadTemplate() {
            var val = localStorage.getItem('EFORM_TEMPLATE_NE');
            if (!val) {
                return;
            }
            this.$refs.template.loadTemplateData(val);
            this.previewTemplate();
        }
    },
});
</script>
</body>
</html>


